.sec {
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.3);

  & .content {
    padding: 30px 0px;
  }

  & h2 {
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
  }

  & p {
    font-size: 16px;
    width: 80%;
    margin: 0 auto;

    word-spacing: 3px;
    letter-spacing: 1px;
    line-height: 1.4rem;
  }

  & .flexGrid {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  & .flexGrid article {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .imgBox {
    flex: 1;
    /* kan også bruge flex basis 100%, og måske sætte den til en anden procentdel, for at gøre det pænere? */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .imgBox img {
    height: 75%;
    width: 75%;
    object-fit: cover;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    border-radius: 30px;
  }
}

@media (max-width: 750px) {
  .sec {
    & p {
      width: 100%;
    }
  }
}

.sec.blue {
  background-color: var(--primaryColor);
}

.sec.dark {
  background-color: var(--navHover);
}

.sec.light {
  background-color: var(--secondaryColor);
}

.sec.white {
  background-color: var(--textColor);

  & h2 {
    color: var(--titleColor);
  }

  & p {
    color: var(--titleColor);
  }
}
