.sec {
  & .content {
    padding: 30px 0px;
    width: 75%;
    margin: 0 auto;
  }

  & .content.alt {
    padding: 0px 0px 10px 0px;
  }

  & .content h2 {
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
    font-weight: 400;
  }

  & .content p {
    font-size: 18px;
    width: 75%;
    margin: 0 auto;
  }
}

@media (max-width: 750px) {
  .sec {
    & p {
      width: 100%;
    }

    & .content {
      width: 100%;
    }
  }
}

.sec:has(.alt) {
  padding-top: 30px;
}

.sec.blue {
  background-color: var(--primaryColor);

  & h2 {
    color: var(--textColor);
  }

  & h2::before,
  h2::after {
    background-color: var(--textColor);
  }
}

.sec.dark {
  background-color: var(--navHover);
  & h2 {
    color: var(--textColor);
  }

  & h2::before,
  h2::after {
    background-color: var(--textColor);
  }
}

.sec.light {
  background-color: var(--secondaryColor);
  & h2 {
    color: var(--textColor);
  }

  & h2::before,
  h2::after {
    background-color: var(--textColor);
  }
}

.sec.white {
  background-color: var(--textColor);

  & .content h2 {
    color: var(--titleColor);
  }

  & .content p {
    color: var(--titleColor);
  }
}
