.cardssec {
  width: 100%;
  background-color: var(--backgroundColor);
  padding: 30px 0px 30px 0px;
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.3);
  box-shadow: none;

  & .title {
    text-align: center;
  }

  & .content {
    width: 70%;
    margin: 0 auto;
  }

  & .grid {
    gap: 25px;
    margin-bottom: 25px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

@media (max-width: 1500px) {
  .cardssec {
    & .content {
      width: 100%;
    }
  }
}

@media (max-width: 700px) {
  .cardssec {
    & .content {
      width: 100%;
    }

    & .content .grid {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
