.box {
  width: 100%;
  background-color: transparent;
  margin-bottom: 20px;

  display: flex;
  flex-direction: row;

  & div {
    flex: 1;
  }

  & .img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  & img {
    object-fit: cover;
    height: 85%;
    width: 85%;
    border-radius: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  }

  & .text p {
    width: 75%;
    float: right;
    margin-bottom: 20px;
  }
}

@media (max-width: 850px) {
  .box {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .box .text p {
    float: none;
  }

  .box .img img {
    height: 75%;
    width: 75%;
  }
}
