.infoboxsec {
  background-color: var(--primaryColor);
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.3);

  & .content {
    width: 100%;
    padding: 30px 0px 40px 0px;
  }

  & h2 {
    color: var(--textColor);
  }

  & h2::after {
    background-color: var(--textColor);
  }

  & h2::before {
    background-color: var(--textColor);
  }
}
