/* navbar */

nav {
  position: fixed; /* fix box shadow hidden by header */
  z-index: 100;
  background-color: transparent;

  transition: background-color 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;

  width: 100%;

  /* container i nav */
  & .navCon {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  & .hamburgerCon {
    display: none;
  }

  & .hamburgerCon svg {
    color: var(--navText);
    font-size: 25px;
    cursor: pointer;
  }

  /* listen i nav */
  & ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
  }

  /* hver item i nav */
  & ul li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 20px;
    cursor: pointer;
    transition: background-color 0.2s;
  }

  & ul li:last-of-type {
    cursor: default;
    transition: background-color 0s;
    background-color: transparent;
  }

  & ul li a {
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    color: var(--navText);
  }

  /* logo i nav */
  & .logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  & .logo h2 {
    font-size: 24px;
    color: var(--navText);
  }

  /* knappen i nav */
  & button {
    font-size: 16px;
    cursor: pointer;
    border: 0;
    outline: none;
    background-color: var(--accent);
    color: var(--navText);
    padding: 10px 30px;
    border-radius: 30px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    transition: background-color 0.2s;
  }

  & button:hover {
    background-color: var(--accentHover);
  }
}

.showColors {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  /*   background-color: var(--primaryColor) !important;
 */
  background-color: var(--primaryColor);

  & ul li:hover {
    background-color: var(--navHover);
  }

  & ul li:last-of-type {
    cursor: default;
    background-color: transparent;
  }
  & .logo h2 {
    font-size: 24px;
    color: var(--navText);
  }

  & ul li a {
    color: var(--navText);
  }
}

@media (max-width: 850px) {
  nav {
    & ul {
      display: none;
    }

    & .hamburgerCon {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 15px 0px;
    }
  }
}

@media (max-width: 850px) {
  .mobile {
    background-color: var(--primaryColor);
    box-shadow: 0px;
    height: 100vh;
    width: 100%;

    & .hamburgerCon {
      display: block;
      position: fixed;
      z-index: 100;
      right: 25px;
      top: 25px;
    }

    /* få containeren til at fylde hele skærmen. */
    & > div:first-child {
      height: 100%;
    }

    & .navCon {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }

    & ul {
      display: flex;
      flex-direction: column;
    }

    & ul li {
    }

    & ul li a {
    }

    & ul li:hover {
      background-color: var(--navHover);
    }

    & ul li:last-of-type {
      cursor: default;
      background-color: transparent;
    }
    & .logo h2 {
      font-size: 24px;
      color: var(--navText);
    }

    & ul li a {
      color: var(--navText);
    }

    & button {
    }

    & .logo {
    }

    & .logo h2 {
    }
  }
}
